      /* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
*{
  font-family: 'Oswald', sans-serif;
  list-style: none;
}
body{
  display: flex;
  flex-direction: column;
}
img{
  max-width: 100%;
  max-height: 100%;
}
body >.container{
  display: flex;
  flex-direction: row;
}
/******************************************
/* LAYOUT
/*******************************************/
header{
  height: calc(10vh);
  min-height: 60px;
  background: linear-gradient(to right, white, rgba(242, 189, 163, 1));
  display: flex;
  justify-content: space-between;
}
header > *{
  display: flex;
  flex: 1;
}
header nav{
  flex: 1 0 40%;
  flex-direction: row-reverse;
  max-width: 50%;
  min-width: 420px;
}
header nav ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
header li{
  display: flex;
  align-items: center;
}

.wordLink{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px  #001440;
}

.container{
  width: 100%;
  /* border: 1px solid black; */
  padding: 0 5%;
}

.homeMain{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(50vh);
  background-image: url("../img/headshot.jpg");
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-clip: content-box ;
  background-size: contain;
}

.homeMain section > *{
  color: white;
  text-shadow: 1px 1px 1px #001440  ;
}

.fourColumn section, .threeColumn section{
  padding: 0 2%;
  flex-direction: column;
  align-items: center;

  display: flex;
}

.fourColumn p{
  justify-content: center;
  text-align: center;
}

.slickSlider{
  display: flex;
  padding: 1% 5%;
  background:rgba(242, 189, 163,0.5)
}
.slickSlider section{
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  background: #001440;
  padding: 1% 5%;
}
.footer nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
}
.footer ul{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer ul li {
  padding: 0 2%;
}
.footer img {
  max-width: 30px;
  max-height: 30px;
}
.footer p{
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
